/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header__image {
  width: 100%;
}
.header__link {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .header { 
    text-align: center;
  }
}
.main {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.list-item__task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.new-element__wrapper {
  display: flex;
}
.tasks__list {
  margin: 0;
  padding: 0px;
}

.list-item,
.title {
  list-style: none;
}
input,
button {
  outline: none;
}
.list-item__button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.list-item__button:hover {
  color: #3a3a3a;
}
/* Heading */
.title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.list-item__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.list-item__input:focus {
  color: #333;
}

/* New Task */
.title {
  display: block;
  margin: 0 0 20px;
}
.new-element__task {
  width: 318px;
}

/* Task list */
.list-item {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.list-item > * {
  vertical-align: middle;
}

.list-item__checkbox {
  margin: 0 10px;
}
.list-item__title {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}

.list-item__task {
  width: 226px;
}
.button-delete__image {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.button-delete__image:hover {
  transform: rotateZ(0);
}

/* Completed */
.list-item__completed {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.tasks__list .list-item input[type="text"] {
  display: none;
}

.tasks__list .list-item.list__edit-mode input[type="text"] {
  display: inline-block;
  width: 224px;
}

.tasks__list .list-item.list__edit-mode label {
  display: none;
}